.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.productsCard {
    display: flex;
    flex-direction:row;
    gap: 5px;
    width: 100%;
    height: 200px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
}


.containerName {
    width: auto;
    margin: 8px;
}

.textName {
    font-size: 1.2rem;
    font-weight: bold;
}

.containerPhoto {
    width: fit-content;
    min-width: 200px;
    padding: 2px;
    height: auto;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}