@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-color-shop {
  color: yellow;
}

.bg-color-shop {
  background-color: black;
}

.bg-color-shop-400 {
  background-color: rgb(56, 56, 56);
}


button.bg-color-shop:hover {
  background-color: rgb(128, 128, 128);
}

.border-shop {
  border:1px solid yellow;
}

.box-error {
  font-size: 0.8rem;
  color: red;
}
