.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.productsCard {
    width: 100%;
    height: 200px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
}

.textName {
    font-size: 1.2rem;
    font-weight: bold;
}